@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Regular.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url(assets/fonts/Lato-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  max-width: 1020px;
  margin: 0 auto;
  text-overflow: hidden;
  color: #666d89;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

/*portfolio styles*/
.portfolio {
	background-color: #2d303a;
	padding: 63px 0 28px 0;
	border-bottom: 6px solid #323746;	
}

.portfolio__header {
	font-family: Lato, sans-serif;
	font-weight: 900;
	font-size: 30px;
	padding-bottom: 21px;
	letter-spacing: 0.2px;
}

.portfolio__text {
	font-family: Lato, sans-serif;
	font-weight: 300;
	font-size: 18px;
	padding-bottom: 13px;
	letter-spacing: -0.2px;
}

.portfolio__nav-list {
	display: flex;
}

.portfolio__nav-item {
	font-family: Lato, sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #767e9e;
	background-color: transparent;
	border: none;
	padding: 3px 7px;
	border: 1px solid #767e9e;
	border-radius: 5px;
	margin-right: 11px;
	display: inline-block;
	cursor: pointer;
}

.nav-item_narrow {
	letter-spacing: -0.35px;
}

.portfolio__nav-item:last-child {
	padding: 3px 6px;
}

.portfolio__nav-item:hover {
	color: #fff;
	border: 1px solid #fff;
	background-color: #2d303a;
}

.portfolio__images {
	padding: 19px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: color: center;
}

.portfolio__image {
	margin-bottom: 20px;
	display: block;
	width: 220px;
	height: 187px;
}

.portfolio__image:nth-child(n+13) {
	display: none;
}

/*About Us styles*/
.about-us {
	background-color: #f2f2f2;
	padding: 62px 0 10px 0;
	border-bottom: 6px solid #fff;	
}

.about-us__header {
	font-family: Lato, sans-serif;
	font-weight: 900;
	font-size: 30px;
	padding-bottom: 17px;
	letter-spacing: -0.15px;
}

.about-us__text {
	font-family: Lato, sans-serif;
	font-weight: 300;
	font-size: 18px;
	padding-bottom: 13px;
	line-height: 30px;
}

.about-us__text_narrow {
	letter-spacing: -0.05px;
}

.about-us__text_narrower {
	letter-spacing: -0.21px;
}

.about-us__block {
	padding: 30px 0;
}

.about-us__list {
	display: flex;
	justify-content: space-between;
}

.about-us__item {
	list-style: none;
	width: 300px;	
}

.about-us__name {
	font-family: Lato, sans-serif;
	font-weight: 900;
	font-size: 18px;
	padding: 13px 0 7px 0;
	height: 36px;
	overflow: hidden;
}

.about-us__name_narrow {
	letter-spacing: -0.2px;
}

.about-us__description {
	font-family: Lato, sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 21px;
	padding-top: 6px;
}

.about-us__description_narrower {
	letter-spacing: -0.23px;
}

.about-us__description_narrow {
	letter-spacing: -0.05px;
}

.about-us__description_wide {
	letter-spacing: 0.1px;
}

.about-us__description_wider {
	letter-spacing: 0.13px;
}

.about-us__social-media {
	margin: 23px 0;
}

.media-icon + .media-icon {
	margin-left: 4px;
}

.media-icon:last-child {
	margin-left: 4px;
}

.media-icon:hover {
	cursor: pointer;
	background-color: #cfd1d8;
	border-radius: 15px;
}